<h1 class="pb-4">Search Results</h1>

<br>

<!-- search by stock name or ticker Start -->
<h1>Nasdaq</h1>

<br>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(stock.nasdaqUS != '') { %>
    <% stock.nasdaqUS.forEach(function(item, index){ %>
    <a href="/stock/<%= item.ticker %>" class="col text-center category__link">
      <div class="category__img category__img--medium shadow">
        <img class="companyImg" src="<%= item.logoURL %>" alt="<%= item.shortname %>" loading="lazy">
      </div>
      <div class="pt-1"><%= item.shortnameUS %> (<%= item.ticker %>)</div>
      <div class="pt-1"><%= item.market %></div>
    </a>
    <% }) %>
  <% } else { %>
    
    <h3>No items found.</h3>
  <% } %>
</div>

<br>
<hr>
<br>

<h1>NYSE</h1>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(stock.nyseUS != '') { %>
    <% stock.nyseUS.forEach(function(item, index){ %>
    <a href="/stock/<%= item.ticker %>" class="col text-center category__link">
      <div class="category__img category__img--medium shadow">
        <img class="companyImg" src="<%= item.logoURL %>" alt="<%= item.shortname %>" loading="lazy">
      </div>
      <div class="pt-1"><%= item.shortnameUS %> (<%= item.ticker %>)</div>
      <div class="pt-2"><b><%= item.market %></b></div>
    </a>
    <% }) %>
  <% } else { %>
    <h3>No items found.</h3>
  <% } %>
</div>

  
<br>
<hr>

<!-- search by stock name or ticker End -->
<br>

<!-- search by stock with manager who have this search term-->
<h1>Hedge Funds</h1><br>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(hedgeFund != '') { %>
    <% hedgeFund.forEach(function(hedge, index){ %>
    <a href="/recipe/<%= hedge._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="/uploads/managerImg/<%= hedge.managerImg %>" alt="<%= hedge.manager %>" loading="lazy">
      </div>
      <div class="pt-1"><%= hedge.manager %></div>
    </a>
    <% }) %>
  <% } else { %>
    <p>No items found.</p>
  <% } %>
</div>